head
  meta(charset='utf-8')
  meta(
    name='viewport'
    content='width=device-width, initial-scale=1.0'
  )
  title YOGA
  link(
    rel='stylesheet'
    href=path.src.css
  )
  link(
    rel='stylesheet'
    href=path.src.slick
  )
  link(
    rel='stylesheet'
    href=path.src.stylesheet
  )